@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #9c9c9c;
}

.socialIcon {
  font-size: 20px;
}

@media only screen and (min-width: 1024px) {
  .socialIcon {
    font-size: 23px;
  }
}

@media only screen and (min-width: 1280px) {
  .socialIcon {
    font-size: 25px;
  }
}
